<%- include header %>
<form method="post">
    userName: <input type="text" name="name" /> <br />
    password: <input type="password" name="password"/> <br />
    <input type="submit" value="登路">
</form>